@model IEnumerable<ProductsApp.Models.Product>

<br />
<h2 class="text-center">Afisare produse</h2>

<br />

@if (ViewBag.Message != null)
{
    <div class="alert-success p-3 rounded-3 text-center mb-5 @ViewBag.Alert">
        @ViewBag.Message
    </div>
}

<br />

@* Motorul de cautare *@
<form method="GET" class="d-flex mb-4">
    <input type="text" class="form-control me-2" placeholder="Caută produse..." name="search" value="@ViewBag.SearchString">
    <select class="form-select me-2" name="sortOrder" onchange="this.form.submit()">
        @if (ViewBag.CurrentSort == "")
        {
            <option value="" selected>Sortare implicită</option>
        }
        else
        {
            <option value="">Sortare implicită</option>
        }

        @if (ViewBag.CurrentSort == "price_asc")
        {
            <option value="price_asc" selected>Preț crescător</option>
        }
        else
        {
            <option value="price_asc">Preț crescător</option>
        }

        @if (ViewBag.CurrentSort == "price_desc")
        {
            <option value="price_desc" selected>Preț descrescător</option>
        }
        else
        {
            <option value="price_desc">Preț descrescător</option>
        }

        @if (ViewBag.CurrentSort == "rating_asc")
        {
            <option value="rating_asc" selected>Rating crescător</option>
        }
        else
        {
            <option value="rating_asc">Rating crescător</option>
        }

        @if (ViewBag.CurrentSort == "rating_desc")
        {
            <option value="rating_desc" selected>Rating descrescător</option>
        }
        else
        {
            <option value="rating_desc">Rating descrescător</option>
        }
    </select>
    <button type="submit" class="btn btn-outline-success">Caută</button>
</form>


@foreach (var product in Model)
{
    <div class="card">
        <div class="card-img-top-container" style="width: 100%; max-height: 20vw; overflow: hidden; display: flex; justify-content: center; align-items: center;">
            @if (!string.IsNullOrEmpty(product.ImageUrl))
            {
                <img src="@product.ImageUrl" class="card-img-top" alt="Imaginea produsului" style="width: auto; height: 100%; object-fit: cover;" />
            }
        </div>

        <partial name="ProductInfo" model="product"></partial>

        <div class="card-body">
            <p><strong>Preț:</strong> @product.Price.ToString("0.00") RON</p>
            <p><strong>Rating:</strong> @(product.Rating.HasValue ? product.Rating.Value.ToString("0.0") : "N/A")</p>
        </div>

        <a class="btn btn-success" asp-controller="Products" asp-action="Show" asp-route-id="@product.Id">Afisare produs</a>
    </div>

    <br />
    <br />
}


@* Afisarea paginata a produselor *@

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { search = ViewBag.SearchString, sortOrder = ViewBag.CurrentSort, page = 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="@Url.Action("Index", new { search = ViewBag.SearchString, sortOrder = ViewBag.CurrentSort, page = i })">@(i)</a> </li>
            }

            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { search = ViewBag.SearchString, sortOrder = ViewBag.CurrentSort, page = ViewBag.lastPage })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
